body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    margin-top: 15%;
}

.panel form .head, .panel form .tail {
    border-radius: 7%;
    font-family: Franklin Gothic Heavy;
    font-size: 1.2rem;
    border: white solid 1px;
}

input {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #d3d3d3;
    outline: none;
  
}

input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;    
    background: #FF69B4;
    border: white solid 1px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%; 
}

#Hex-color-code {
    text-align: center;
    padding-top: 3.5%;
    font-family: Franklin Gothic Heavy;
    font-size: 1.6rem;
    background: rgba(255, 250, 250, 0.3);
    color: black;
    border-radius: 2.5%;
} 
   


